next-app-min-template
next-firebase-auth-edge

node_modules
.vscode
yarn-error.log
.yarn
.next
.env
.env.local
lib
cjs
tmp
package-lock.json
coverage
webpack-stats.json
.turbo
.DS_Store
.idea
*.log
dist
